@section styles {
    <!-- DataTables -->

}

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-20">
            <div class="card-body">

                <div class=" row bg-white p-0">
                    <div class="col  p-0">
                        <h5 class="page-title ml-3">
                            <span class="page-title-icon mr-1">
                                <i class="fas fa-cubes"></i>
                            </span> Projects
                        </h5>
                    </div>
                    <div class="p-0 text-right mr-2">
                        <ul class="breadcrumb bg-white float-right m-0 pl-0 pr-0">
                            <li class=" active">Projects</li>
                        </ul>
                    </div>
    
                </div>
           

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">


                <table id="usersTable" class="table table-hover" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created Date</th>
                            <th>Team</th>
                        </tr>
                    </thead>


                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->





@section scripts {

    <script>
        $(document).ready(function() {
            $("#usersTable").DataTable({
                ajax: {
                    url: "/api/project",
                    dataSrc: ""
                }
            ,
            columns: [
                {
                    data: "Name",
                    render: function(data, type, project) {

                        return "<a href='/project/details/" + project.Id + "'>" + project.Name + "</a>";
                    }
                },
                {
                    data: "CreatedDate",
                    render: function(data, type, project) {

                        var date = new Date(data);

                        return date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();;

                    }
                },
                {
                    data: "Users",
                    render: function(data, type, project) {

                        return '<i class="fas fa-user-friends fa-lg"></i>' + project.Users.length;

                    }
                }
            ]
        });


    });
    </script>
}


