@section styles {
    <!-- DataTables -->


}

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-20">
            <div class="card-body">

                <div class=" row bg-white p-0">
                    <div class="col  p-0">
                        <h5 class="page-title ml-3">
                            <span class="page-title-icon mr-1">
                                <i class="fas fa-cubes"></i>
                            </span> Projects
                        </h5>
                    </div>
                    <div class="p-0 text-right mr-2">
                        <ul class="breadcrumb bg-white float-right m-0 pl-0 pr-0">
                            <li class=""><a href="/Dashboard/index">Dashboard</a></li>
                            <li class=" active">Projects</li>
                        </ul>
                    </div>
    
                </div>
           

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        
        
        @Html.ActionLink("New project","Create","Project","",new {@class="btn btn-create"})

    </div>

</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">


                <table id="usersTable" class="table table-hover" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created Date</th>
                            <th>Project Manager</th>
                            <th>Developers</th>
                        </tr>
                    </thead>


                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->





@section scripts {







    <script>
        $(document).ready(function() {
            $("#usersTable").DataTable({
                ajax: {
                    url: "/api/project",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function(data, type, project) {

                            return "<a href='/project/edit/" + project.Id + "'>" + project.Name + "</a>";
                        }
                    },
                    {
                        data: "CreatedDate",
                        render: function(data, type, project) {

                            var date = new Date(data);

                            return date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();;

                        }
                    },
                    {
                        data: "Id"
                    },
                    {
                        data: "Id"
                    }
                    //,
                    //{
                    //    date: "id",
                    //    render: function(data, type, project) {
                    //        return '<button class="btn btn-link js-delete" data-id="'+project.id+'">delete</button>';

                    //    }

                    // }
                ]
            });


            //$("#usersTable").on('click', '.js-delete', function (e) {

            //    swal({
            //        title: "Are you sure?",
            //        text: "Would you like to delete this project!",
            //        type: "warning",
            //        showCancelButton: true,
            //        confirmButtonColor: "#DD6B55",
            //        confirmButtonText: "Yes, delete it!",
            //        closeOnConfirm: false
            //    }, function (isConfirm) {
            //        if (!isConfirm) return;
            //        $.ajax({
            //            url: "/api/project",
            //            type: "DELETE",
            //            data: {
            //                id: 5
            //            },
            //            success: function () {
            //                swal("Done!", "It was succesfully deleted!", "success");
            //            },
            //            error: function (xhr, ajaxOptions, thrownError) {
            //                swal("Error deleting!", "Please try again", "error");
            //            }
            //        });
            //    });
            //});

            

        });
    </script>
}



